<?xml version="1.0"?>
<traffic_list>
    <traffic>
        <maxPackets value="1000"/>
        <maxBytes value="99"/>
        <weight value="3"/>
        <priority_level value="77"/>
        <isDefault value="0"/>
        <filters>
            <filter>
                <source_address value="10.1.1.1"/>
                <source_port value="49154"/>
                <source_mask value="255.255.255.0"/>
                <destination_address value = "10.1.2.2"/>
                <destination_port value="10"/>
                <destination_mask value="255.255.255.0"/>
               <protocol value="17"/>
            </filter>
        </filters>
    </traffic>
    <traffic>
        <maxPackets value="1000"/>
        <maxBytes value="99"/>
        <weight value="2"/>
        <priority_level value="99"/>
        <isDefault value="1"/>
        <filters>
            <filter>
                <source_address value="10.1.1.1"/>
                <source_port value="49153"/>
                <source_mask value="255.255.255.0" />
                <destination_address value = "10.1.2.2"/>
                <destination_port value="9"/>
                <destination_mask value="255.255.255.0"/>
                <protocol value="17"/>
            </filter>
        </filters>
    </traffic>
</traffic_list>
